<sw-card title="AltaPay Status" :isLoading="isLoading" positionIdentifier="altapay">
    <sw-card-section v-if="transaction">
        <sw-container columns="1fr 1fr" gap="10px">
            <div>Transaction ID:</div>
            <div>{{ transaction.TransactionId }}</div>
            <div>Payment ID:</div>
            <div>{{ transaction.PaymentId }}</div>
            <div>Transaction Status:</div>
            <div>{{ transaction.TransactionStatus }}</div>
            <div>Reserved Amount:</div>
            <div>{{ transaction.ReservedAmount }} {{ transaction.MerchantCurrencyAlpha }}</div>
            <div>Captured Amount:</div>
            <div>{{ transaction.CapturedAmount }} {{ transaction.MerchantCurrencyAlpha }}</div>
            <div>Refunded Amount:</div>
            <div>{{ transaction.RefundedAmount }} {{ transaction.MerchantCurrencyAlpha }}</div>
            <div>3D Secure:</div>
            <div>{{ transaction.ThreeDSecureResult }}</div>
            <div>Created:</div>
            <div>{{ transaction.CreatedDate }}</div>
            <div>Last updated:</div>
            <div>{{ transaction.UpdatedDate }}</div>
        </sw-container>
    </sw-card-section>
    <sw-card-section v-if="transaction">
        <sw-container columns="1fr 1fr 1fr" gap="10px">
            <sw-button :disabled="isLoading || !['open', 'in_progress', 'authorized'].includes(order.transactions[0].stateMachineState.technicalName)" @click="capture">{{ $tc("altaPay.capture") }}</sw-button>
            <sw-button :disabled="isLoading || order.transactions[0].stateMachineState.technicalName !== 'paid'" @click="refund">{{ $tc("altaPay.refund") }}</sw-button>
            <sw-button :disabled="isLoading || !['open', 'in_progress', 'authorized'].includes(order.transactions[0].stateMachineState.technicalName)" @click="cancel">{{ $tc("altaPay.cancel") }}</sw-button>
        </sw-container>
    </sw-card-section>
</sw-card>
